.thumb-project{
	width: 93%;
    margin: 0 auto;
    min-height: 580px;
    padding-top: 50px;
}
.thumbnail-project{
	float: left;
    width: 30%;
    padding-bottom: 30px;
    padding-right: 22px;
    padding-left: 18px;
}
#event-image{
	border-radius: 5px;
}
#project-title{
	font-weight: 700;
	font-size: 17px;
}
#project-text{
	font-size: 15px;
    width: 350px;
    color: #5A5A5A;
}
.prj-buttons{
	width: 100%;
}
.prj-btn-center{
    text-align: center;
}