body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
 footer{
  min-height: 265px;
 }

 .hidden {
    display: none;
 }

.container {
	position: relative;
	height: 100%;
	width: 100%;
}

.entrepreneurs-content{

	color: #494949;
	margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 60%;
    font-size: 18px;
}

.header-overlay{
	background-color: rgba(21, 167, 226, 0.8);
	height: 100%;
}
.footer-down{
    width: 100%;
    float: left;
    padding-top: 32px;
}
/*Entrepreneur page*/
.entrepreneurs-details{
	
    margin: 0 auto;
    border-top: 1px solid #DDD;
    padding-top: 50px;
    width: 90%;
}
#entre-text{
	margin: 0 auto;
    text-align: center;
    font-weight: 600;
    font-size: 21px;
    color: #333333;
    width: 66%;
}
#entre-info{
    text-align: center;
    color: #666666;
    padding-bottom: 42px;
}
/*hack page*/
.hackathons{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 60px;
    margin: 0 auto;
}
.hackathons-category{
    width: 100%;
    padding-top: 20px;
    display: inline-block;
}
.hack-image-right{
    float: left;
    width: 52.5%;
}
.hack-right{
    width: 40%;
    float: right;
    
}
.hack-left{
    width: 40%;
    float: left;
    padding-left: 45px;
}
.hack-image-left{
    width: 52.2%;
    float: right;
}

/*Home page*/
.home-container{
    width: 100%;
    min-height: 1000px;
    position: relative;
}
.home-research{
    width: 100%;
    background: #DF9B1E;
    height: auto;
    position: absolute
}
.home-img-left{
    width: 50%;
    float: left;
}
.home-logo-right{
    width: 50%;
    float: right;
}
#our-title{
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    color: #333333;
    width: 66%;
    padding-bottom: 14px;
}
#our-text{
    margin: 0 auto;
    text-align: center;
    font-size: 21px;
    color: #666666;
    width: 57%;
}
.our-home{
    width: 90%;
    margin: auto;
    min-height: 500px;
    padding-top: 50px;
}
.thumbnail-project-home{
    width:  94%;
    margin: 0 auto;
    min-height: 500px;
}
.thumb-project-home{
    width: 100%;
    min-height: 600px;
}
.button-project a{
    text-decoration: none;
    color: #FFF;
}
.button-tech-cafe a{
    text-decoration: none;
    color: #969696;
}
/*Tech page*/
.tech-container{
    background-color: #EEE;
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 80px;
}
.thumbnail-tech{
    width: 93%;
    margin: 0 auto;
    padding-top: 50px;
    min-height: 600px;
    border-bottom: 1px solid #DDD;
    padding-left: 35px;
}
.event-on-fb{
    text-align: center;
    padding-top: 33px;
    width: 100%;
}
#txt-on-fb{
    font-size: 18px;
    color: #6E6E6E;
    padding-right: 20px;
}
/*menu page*/

.menu-container {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
}

.menu-overlay {
    width: 58%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    float: left;
}

.side-menu {
    width: 42%;
    height: 100%;
    background-color: black;
    float: right;
}

.menu-header {
  padding: 0px 0px 0px 20px;
}

.menu {
  padding-left: 50px;
  padding-top: 20px;

}

.menu-social {
  padding-left: 50px;
}

.menu-item {
  font-size: 20px;
  color: white;
  line-height: 2;
  padding-left: 35px;
  width: 200px;
   height: 40px;
   cursor: pointer;

}

.menu-item a {
    color:white;
    text-decoration: none;
    width: 200px;
   height: 40px;

}

.active {
    color: white;
    text-decoration: none;
    background-color: #73bfe6;

}

.menu-item:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(87, 87, 87);
    width: 200px;
    height: 40px;

}

#title-menu{
  font-size: 17px;
  padding-left: 25px;
  vertical-align: super;
  color: #FFF;
  cursor: pointer;
}

.grayed a{
  color: gray;
}
.right-menu-buttons{
    width: 25%;
    float: right;
    display: inline;
}
.fa{
    color: #FFF;
    font-size: 40px;
    margin-top: 65px;
    cursor: pointer;
 }
