#text-event{
    color: #FFF;
    position: absolute;
    width: 100%;
    top: 98px;
    padding: 0px 76px;
    text-align: center;
    font-size: 32px;

}
.thumbnail-event{
	position: relative;
	width: 23%;
}
#event-image{
	border-radius: 6px;
}

/* Innovation driven company*/
.event-container{
    width: 100%;
    min-height: 500px;
    padding-top: 50px;
}
.event-txt{
    padding-bottom: 50px;
}
#innov-title{
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    color: #333333;
    width: 66%;
    padding-bottom: 14px;
}
#innov-text{
    margin: 0 auto;
    text-align: center;
    font-size: 21px;
    color: #666666;
    width: 57%;
}
#innov-text a{
    text-decoration: none; 
}
.event-img{
    width: 100%;
}


.left-side {
    width: 46%;
    float: left;
}

.right-side {
    width: 46%;
    float: right;
}

.left-event-img{
    width: 430px;
    height: 300px;
    margin: 0 auto;
    background-image: url('lab.jpg');
    background-size: cover;
    border-radius: 5px;
    float: right;

}
.right-event-img{
    width: 430px;
    height: 300px;
    margin: 0 auto;
    background-image: url('saturday.jpg');
    background-size: cover;
    border-radius: 5px;
    float: left;

}
.event-overlay{
    width: 430px;
    height: 300px;
    background-color: rgba(13, 54, 108, 0.6);
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;
}

.overlay-txt {
    color: #fff;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    height: 10px;
}
.overlay-txt a{
    text-decoration: none;
    color: #FFF;
}