/*Button from all pages*/
.button-contact{
    background: white;
    color: #0C579A;
    padding: 12px 28px;
    font-size: 26px;
    font-weight: 600;
    border-radius: 6px; 
    margin: 20px 0px 44px 552px;
}
.button-facebook{
    color: #F7F8FC;
    background: #2C56A8;
    padding: 11px 12.5px;
    font-size: 15.5px;
    border-radius: 6px; 
    cursor: pointer;

}
.button-see-project{
	color: #F7F8FC;
    background: #EF690A;
    padding: 12px 28px;
    font-size: 15.5px;
    font-weight: 600;
    border-radius: 6px; 
    text-transform: uppercase;
    float: left;
    margin-top: 20px;
    border: 1px solid rgba(239, 105, 10, 0.91);

}
.button-project{
	color: #F7F8FC;
    background: #2C56A8;
    padding: 11px 32px;
    font-size: 15.5px;
    font-weight: 600;
    border-radius: 6px; 
    border: none;

}
.button-tech-cafe{
	color: #969696;
    background: #FFF;
    padding: 10px 23.5px;
    font-size: 15.5px;
    font-weight: 600;
    border-radius: 6px; 
    border: 1px solid #DDD;
    margin-left: 30px;
}
.button-work-together{
	color: #FFF;
	background: transparent;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    float: right; 
    margin-right: 90px;
    margin-top: 64px;
    border: 1px solid #FFF;
}