.footer-links{
	width: 25%;
	float: left;
	padding-top: 30px;
}
li{
	list-style: none;
	color: #747474;
}
ul{
	padding-left: 0;
	font-size: 16px;
}
#footer-title{
	color: #444444;
	font-size: 16px;
}
#footer-logo{
	margin-left: 40px;
}
.footer-links a{
	text-decoration: none;
	color: #747474;
}
.footer-links a:hover{
	text-decoration:underline;
	color: grey; 
}